body {
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero {
    text-align: center;
}

.instructionCard {
    background-color: red;
    padding: 5px;
}